#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 100;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  margin-left: 10px;
  line-height: 2.5em;
}

#compose {
  border: 1px solid black;
  color: #00a087;
  float: right;
  border-radius: 5px;
  margin-top: 13px;
  opacity: 0.80;
}

#compose:hover {
  color: black;
  opacity: 1;
}


#compose p i{
font-size: 0.75em;
padding-right: 5px;

}

#compose p {
  margin: 0 auto;
  padding: 15px 10px;
}

 @media (min-width: 300px) and (max-width: 400px) {
  #compose {
    width: 30%;
    height: 55%
  }
  #compose p {
    font-size: 0.70em;
    padding: 0;
  }
  #nav-bar .header {
    font-size: 1.5em;
    line-height: 3em;
  }
}


