.new-tweet {
  background-color: #EEEEEE;
  margin: 0 2em 2em 2em;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

.new-tweet .counter {
  float: right;
  font-size: 0.75em;
  line-height: 2.5em;
}

.negative-numbers {
  color: #d11d1d;
}

.error {
  border: 1px solid #d11d1d;
  display: none;
  padding: 5px;
  margin-top: 5px;
  background-color: #f7dbd9;
  color: #d11d1d;
}