article.tweet {
  margin: 0 2em 2em 2em;
  border-radius: 5px;
  border: 1px solid #CCCCCC;

}

article.tweet header {
  background-color: #F3F3F3;
  height: 70px;
  padding: 5px;

}

article.tweet img {
  width: 15%;
  float: left;
  border-radius: 5px;
}

article.tweet h2 {
  margin: 0;
  float: left;
  padding: 5px 10px;
  color: #6A7D84;
}

article.tweet header p {
  margin: 0;
  float: right;
  line-height: 3.5em;
  font-size: 0.75em;
  color: #CCCCCC;
  font-weight: 300;
}

article.tweet p {
  padding: 10px;
  word-wrap: break-word;
}

article.tweet footer {
  border-top: 1px solid #F3F3F3;
  padding: 10px 5px;
  height: 30px;

}
article.tweet footer p {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  float: left;
}

article.tweet div.icons {
  float: right;
}

article.tweet .icons .material-icons {
  display: none;
}

/*HOVER*/
article.tweet:hover .icons .material-icons{
  display: inline-block;
  font-size: 1em;
  padding-left: 3px;
  color:  #00a087;
}

article.tweet:hover {
  border: 1px solid #244751;
}

article.tweet:hover header {
  background-color: #EEEEEE;
}

article.tweet:hover h2 {
   color: #244751;
}

article.tweet:hover header p {
   color: #6A7D84;
}

article.tweet:hover img {
   filter: brightness(90%);
}


 @media (min-width: 300px) and (max-width: 450px) {
 article.tweet header{
  height: 80px;
  }

  article.tweet header p {
    text-align: left;
    position: block;
    width:100%;
    margin: 0;
    padding: 0;
    line-height: 2em;
  }
}




